body {
	text-align: center;
	background: blue;
}

.red {
	background: red;
}

h2 {
    font-size: 14px;
}

#contenedor {
	width: 100%;
	margin: 0 auto;
}

#header {
	padding: 1%;
	width: 98%;
	height: 75px;
	background: orange;
}

#nav, #section, #aside {
	padding: 1%;
	height: 425px;
}

#nav {
	background: red;
	width: 18%;
	float: left;
}

#section {
	background: green;
	width: 58%;
	float: left;
	position: relative;
}

#aside {
	background: yellow;
	width: 18%;
	float: right;
}

#footer {
	padding: 10px;
	background: blue;
	width: 98%;
	height: 75px;
}

.clear {
	clear: both;
}

#joke {
    position: absolute;
    top: 60px;
}

#mensaje2 {
	position: absolute;
	bottom: 10px;
	width: 96.7%;
	height: 280px;
	background: rgba(128, 128, 128, 0.65);
}

.scroll-x {
	overflow-x: auto;
}

.center-hor {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#busqueda {
    position: absolute;
    bottom: 300px;
}
